@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --radius-sm: calc(var(--hive-laboratory-radius) - 4px);
  --radius-md: calc(var(--hive-laboratory-radius) - 2px);
  --radius-lg: var(--hive-laboratory-radius);
  --radius-xl: calc(var(--hive-laboratory-radius) + 4px);
  --color-background: hsl(var(--hive-laboratory-background));
  --color-foreground: hsl(var(--hive-laboratory-foreground));
  --color-card: hsl(var(--hive-laboratory-card));
  --color-card-foreground: hsl(var(--hive-laboratory-card-foreground));
  --color-popover: hsl(var(--hive-laboratory-popover));
  --color-popover-foreground: hsl(var(--hive-laboratory-popover-foreground));
  --color-primary: hsl(var(--hive-laboratory-primary));
  --color-primary-foreground: hsl(var(--hive-laboratory-primary-foreground));
  --color-secondary: hsl(var(--hive-laboratory-secondary));
  --color-secondary-foreground: hsl(var(--hive-laboratory-secondary-foreground));
  --color-muted: hsl(var(--hive-laboratory-muted));
  --color-muted-foreground: hsl(var(--hive-laboratory-muted-foreground));
  --color-accent: hsl(var(--hive-laboratory-accent));
  --color-accent-foreground: hsl(var(--hive-laboratory-accent-foreground));
  --color-destructive: hsl(var(--hive-laboratory-destructive));
  --color-border: hsl(var(--hive-laboratory-border));
  --color-input: hsl(var(--hive-laboratory-input));
  --color-ring: hsl(var(--hive-laboratory-ring));
  --color-chart-1: hsl(var(--hive-laboratory-chart-1));
  --color-chart-2: hsl(var(--hive-laboratory-chart-2));
  --color-sidebar-foreground: hsl(var(--hive-laboratory-sidebar-foreground));
  --color-sidebar-primary: hsl(var(--hive-laboratory-sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--hive-laboratory-sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--hive-laboratory-sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--hive-laboratory-sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--hive-laboratory-sidebar-border));
  --color-sidebar-ring: hsl(var(--hive-laboratory-sidebar-ring));
}

:host,
.hive-laboratory {
  display: block;
  width: 100%;
  height: 100%;
  --radius: 0.5rem;
  --background: 220, 21.43%, 5.49%;
  --foreground: 213 31% 91%;

  --muted: 24 9.8% 10%;
  --muted-foreground: 25 5.26% 44.71%;

  --popover: 222.86 70% 3.92%;
  --popover-foreground: 0 0% 98%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --border: 12 5% 15%;
  --input: 12 5% 15%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 230 14% 8%;
  --secondary-foreground: 210 40% 98%;

  --accent: 230 14% 8%;
  --accent-foreground: 210 40% 98%;

  --destructive: 220 38 38;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  .hive-laboratory {
    @apply bg-background text-foreground;
  }
}
