[package]
name = "hive-console-sdk"
repository = "https://github.com/graphql-hive/console/"
edition = "2021"
license = "MIT"
publish = true
version = "0.2.0"
description = "Rust SDK for Hive Console"

[lib]
name = "hive_console_sdk"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.77"
axum-core = "0.5"
thiserror = "2.0.11"
reqwest = { version = "0.12.24", default-features = false, features = [
    "rustls-tls",
    "blocking",
] }
reqwest-retry = "0.8.0"
reqwest-middleware = "0.4.2"
anyhow = "1"
tracing = "0.1"
serde = "1"
tokio = { version = "1.36.0", features = ["full"] }
graphql-tools = "0.4.0"
graphql-parser = "0.4.1"
md5 = "0.7.0"
serde_json = "1"
moka = { version = "0.12.10", features = ["future", "sync"] }
sha2 = { version = "0.10.8", features = ["std"] }
tokio-util = "0.7.16"
uuid = { version = "1.19.0", features = ["v4"] }

[dev-dependencies]
mockito = "1.7.0"