.container {
  container-type: inline-size;
}

@container (width < 586px) {
  .node {
    flex-direction: column;
    text-align: center;
  }
  .smHidden {
    display: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -18px; /* 2 * 9px pattern */
  }
}

.animate-dash path {
  animation: dash 0.75s linear infinite;
}

.animate-dash-reverse path {
  animation: dash 0.75s linear infinite reverse;
}
