.container {
  container-type: inline-size;
}

@container (width < 586px) {
  .node {
    flex-direction: column;
    text-align: center;
  }
  .smHidden {
    display: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 300;
  }
}

.animate-dash path {
  animation: dash 20s linear infinite;
}
